!!!

.container
  .row
    .col-md-12
      .header
        .title
          = @header_title

        .title-form.hide
          %form.form-horizontal(role="form")
            .form-group
              %label.col-sm-1.control-label(for="title-form-title")
                Title
              .col-sm-11
                %input#title-form-title.form-control(type="text")
            .form-group
              %label.col-sm-1.control-label(for="title-form-author")
                Author
              .col-sm-11
                %input#title-form-author.form-control(type="text")
            .form-group
              %label.col-sm-1.control-label(for="title-form-url")
                URL
              .col-sm-11
                %input#title-form-url.form-control(type="text")
            .form-group
              .pull-right
                %input(type="submit" value="Save" id="title-form-save" class="btn btn-default")
                or
                %a(href="#" id="title-form-cancel")
                  Cancel

        %form(class="form-inline" method="post" action="/search")
          .form-group
            %input(class="form-control" type="text" size=40 name="query" value="#{@params[:query]}")
            %input(type="hidden" name="book_id" value="#{@book_id}")
            %input(type="submit" value="Search" class="btn btn-primary")
            %input#clear(type="button" value="Clear" class="btn btn-default" onclick="click_clear_button()")
        .info
          = @header_info

        #modal-bookmark-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                  %span.sr-only Cancel
                %h4#modal-bookmark-label.modal-title Modal title
              .modal-body
                %textarea{"rows" => 20, "cols" => 60, "placeholder" => "BOOK MEMO: Note that you enter is included in the search."}
              .modal-footer
                %button.btn.btn-danger.pull-left{"data-dismiss" => "modal", :type => "button"} Delete
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Update

      .content
        = @content
