!!!

.container
  .row
    .col-md-12
      .header
        .title
          = @header_title
        %form(class="form-inline" method="post" action="/search")
          .form-group
            %input(class="form-control" type="text" size=40 name="query" value="#{@params[:query]}")
            %input(type="hidden" name="book_id" value="#{@book_id}")
            %input(class="btn btn-primary" type="submit" value="Search")
        .info
          = @header_info

        #modal-bookmark-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                  %span.sr-only Cancel
                %h4#myModalLabel.modal-title Modal title
              .modal-body
                \...
              .modal-footer
                %button.btn.btn-danger.pull-left{"data-dismiss" => "modal", :type => "button"} Delete
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Update

      .content
        = @content
